{% extends "base.html" %}
{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        <br>
        <h3>Если вы хотите удалить гостевую книгу: <strong>{{ guestbook.name }}</strong>, то введите почту автора
            записи:</h3>
        <h5><br><label>Почтовое поле:</label><br/></h5>
        <input type="email" name="email" placeholder="Введите email" required/><br/>

        {% if messages %}
            {% for error in messages %}
                <div>
                    <p class="text-danger"><strong>Ошибка: {{ error }}</strong></p>
                </div>
            {% endfor %}
        {% endif %}
    
        <br>
        <button type="submit" class="btn btn-danger">Удалить</button>
        <br>
        <br>
        <a class="btn btn-primary" href={% url 'main' %}>Отмена</a>
    </form>

{% endblock %}