{% extends 'base.html' %}

{% block content %}
    <h1>{{ album.title }}</h1>
    <p>{{ album.description }}</p>

    <h2>Фотографии в альбоме:</h2>
    <ul>
        {% for photo in photos %}
            <li>
                <a href="{% url 'webapp:detail_photo' photo.pk %}">
                    <img src="{{ photo.photo.url }}" alt="Photo Image" width="100" />
                    {{ photo.signature }}
                </a>
            </li>
        {% empty %}
            <li>Нет фотографий в альбоме.</li>
        {% endfor %}
    </ul>
{% endblock %}
