{% extends 'base.html' %}

{% block content %}
    <h1>{{ album.title }}</h1>
    <p>{{ album.description }}</p>

    <h2>Фотографии в альбоме:</h2>
    <ul>
        {% for photo in photos %}
            <li>
                <a href="{% url 'webapp:detail_photo' photo.pk %}">
                    <img src="{{ photo.photo.url }}" alt="Photo Image" width="100"/>
                    {{ photo.signature }}
                </a>
                {% if user.is_authenticated %}
                    {% if user.is_authenticated %}
                        {% if user.is_authenticated %}
                            <button
                                    class="favorite-button"
                                    data-js="favorite-button"
                                    data-url="{% url 'webapp:toggle_favorite_photo' photo.pk %}"
                                    data-action="{% if user in photo.favorite_users.all %}remove{% else %}add{% endif %}">
                                {% if user in photo.favorite_users.all %}
                                    Удалить из избранного
                                {% else %}
                                    Добавить в избранное
                                {% endif %}
                            </button>
                        {% endif %}
                    {% endif %}
                {% endif %}
            </li>
            {% empty %}
            <li>Нет фотографий в альбоме.</li>
        {% endfor %}
    </ul>
{% endblock %}
