{% extends 'base.html' %}

{% block content %}
    <h1>{{ photo.caption }}</h1>
    <img src="{{ photo.image.url }}" alt="Photo Image" />
    <p>Автор:
        {% if user.is_authenticated %}
            <a href="{% url 'webapp:profile' photo.author.pk %}">
                Имя: {{ photo.author.first_name }} - Фамилия: {{ photo.author.last_name }}
            </a>
        {% else %}
            Имя: {{ photo.author.first_name }} - Фамилия: {{ photo.author.last_name }}
        {% endif %}
    </p>
    <p>Дата: {{ photo.created_at }}</p>
    
    {% if photo.album %}
        <p>Альбом: 
            {% if user.is_authenticated %}
                <a href="{% url 'webapp:album_detail' photo.album.pk %}">
                    {{ photo.album.title }}
                </a>
            {% else %}
                {{ photo.album.title }}
            {% endif %}
        </p>
    {% endif %}
    
    {% if photo.is_public %}
        <h2>Избранное у пользователей:</h2>
        <ul>
            {% for favorite in photo.favorites.all %}
                <li>
                    <a href="{% url 'webapp:profile' favorite.user.pk %}">
                        {{ favorite.user.username }}
                    </a>
                </li>
            {% empty %}
                <li>Нет пользователей в избранном.</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Эта фотография не является публичной.</p>
    {% endif %}
{% endblock %}
